.form {
  &__container {
    position: relative;
    min-height: 100vh;
    // background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background-color: #485461;
    background: linear-gradient(280deg, #566372 0%, #28313b 70%);
  }
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3rem;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  background-color: rgb(221, 218, 218);
  text-align: right;
  border: 1px solid white;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    margin-bottom: 2rem;
    width: 15rem;
    height: 15rem;
  }
  &__right {
    flex: 0.8;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  &__input {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    border: 0;
    text-align: left;
    overflow: hidden;
    input {
      width: 100%;
      max-width: 100%;
      padding: 1rem;
      border: 0;
      outline: none;
      background-color: transparent;
      border-bottom: 1.5px solid black;
    }
    label {
      margin-left: 1rem;
    }
    &--focus {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #3399ff;
      transition: 0.5s;
    }
    &--eye {
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
    }
    &--error {
      font-style: italic;
      color: red;
      &::before {
        content: "* ";
      }
    }
    input:focus ~ .form__input--focus {
      width: 100%;
      transition: 0.4s;
    }
  }
  &__error {
    margin-top: 2rem;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: red;
    &::before {
      content: "* ";
    }
  }
  form {
    display: flex;
    flex-direction: column;
    input[type="submit"] {
      color: white;
      padding: 1.3rem 4rem;
      margin: 4rem auto;
      width: fit-content;
      border-radius: 5rem;
      border: 0;
      outline: none;
      font-weight: 500;
      letter-spacing: 2px;
      background-color: #7b78f8;
      transition: 0.4s ease-in-out;
    }
    input[type="submit"]:hover {
      font-weight: bold;
      transform: translateY(-2px);
      box-shadow: 0 5px 10px 0 rgba(123, 120, 248, 0.5);
    }
  }
  &__forget {
    padding: 0;
    border-radius: 0;
    .MuiPaper-root {
      background-color: rgb(221, 218, 218);
    }
    .MuiStepLabel {
      &-labelContainer {
        width: fit-content;
      }
      &-label {
        margin: 0;
        color: black !important;
        font-weight: bold !important;
        font-size: 1.5rem;
      }
    }
    .MuiSvgIcon-root {
      font-size: 2.5rem;
    }
  }
  &__option {
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    color: blue;
    background-color: rgb(221, 218, 218);
  }
}

.recaptcha {
  margin: auto;
  margin-top: 2rem;
}
