.form {
  margin: auto;
  padding: 2rem 2rem;
  padding-bottom: 0;
  width: 40%;
  background-color: rgba($color: #f9f2cd, $alpha: 0.8);
  text-align: right;
  border-radius: 20px;
  a:first-child {
    margin-right: 2rem;
  }
  &__input {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    border: 0;
    text-align: left;
    overflow: hidden;
    input {
      width: 100%;
      max-width: 100%;
      padding: 1rem;
      border: 0;
      outline: none;
      background-color: transparent;
      border-bottom: 1.5px solid black;
    }
    label {
      margin-left: 1rem;
    }
    &--focus {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #3399ff;
      transition: 0.5s;
    }
    &--eye {
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
    }
    &--error {
      font-style: italic;
      color: red;
      &::before {
        content: "* ";
      }
    }
    input:focus ~ .form__input--focus {
      width: 100%;
      transition: 0.4s;
    }
  }
  &__error {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: red;
    &::before {
      content: "* ";
    }
  }
  form {
    display: flex;
    flex-direction: column;
    input[type="submit"] {
      color: white;
      padding: 1.5rem 5rem;
      margin: 2rem auto;
      width: fit-content;
      border-radius: 5rem;
      border: 0;
      outline: none;
      font-weight: 500;
      letter-spacing: 2px;
      background-color: #7b78f8;
      box-shadow: 0 10px 20px 0 rgba(123, 120, 248, 0.5);
    }
  }
}

.recaptcha {
  margin: auto;
  margin-top: 2rem;
}
