.form {
  margin: auto;
  padding: 2rem 2rem;
  padding-bottom: 0;
  width: 40%;
  background-color: bisque;
  text-align: right;
  a:first-child {
    margin-right: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      padding: 1rem 1rem;
      border-radius: 20px;
      outline: none;
      border: 1px solid black;
      margin-top: 2rem;
    }
    input[type="submit"] {
      color: white;
      padding: 1.5rem;
      margin: 2rem auto;
      width: 20rem;
      border-radius: 5rem;
      border: 0;
      outline: none;
      font-weight: 500;
      letter-spacing: 2px;
      background-color: #7b78f8;
      box-shadow: 0 10px 20px 0 rgba(123, 120, 248, 0.5);
    }
  }
}

.recaptcha {
  margin: auto;
  margin-top: 2rem;
}
