.nav {
  margin-bottom: 5rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  background-color: rgba($color: whitesmoke, $alpha: 0.6);
  box-shadow: 0 1px 13px darkgrey;
  &__logo {
    width: 10rem;
  }
  &__links {
    &--pages,
    &--auth {
      list-style: none;
      display: flex;
    }
  }
  &__link {
    margin-right: 5rem;
    background-color: rgba($color: darkgray, $alpha: 0.1);
    text-transform: uppercase;
    a {
      font-size: 1.7rem;
    }
    &--user {
      margin-right: 2rem;
    }
    &--logout {
      margin-right: 2rem;
      background-color: transparent;
      color: slateblue;
      text-transform: capitalize;
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
