.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  background-color: rgba($color: whitesmoke, $alpha: 0.3);
  box-shadow: 0 1px 13px darkgrey;
  z-index: 111;
  &__logo {
    width: 10rem;
  }
  &__links {
    &--pages,
    &--auth {
      list-style: none;
      display: flex;
    }
    &--pages {
      a:hover {
        color: orangered;
      }
    }
    &--auth {
      align-items: center;
      a:hover {
        color: mediumturquoise;
      }
    }
  }
  &__userIcon {
    display: inline-block;
  }
  &__link {
    margin-right: 5rem;
    padding: 0.5rem 1rem;
    background-color: rgba($color: black, $alpha: 0.5);
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    a {
      font-size: 1.7rem;
    }
    &--user {
      position: relative;
      margin-right: 2rem;
      &dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        transform: translateX(-30%);
        z-index: 1;
      }
      &:hover ~ .nav__link--userdropdown {
        display: block;
      }
      &dropdown:hover {
        display: block;
      }
    }
    &--logout {
      margin-right: 2rem;
      background-color: white;
      color: blue;
      font-weight: bold;
      text-transform: capitalize;
      cursor: pointer;
    }
    &--logout:hover {
      color: red;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.userMenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform: translateX(-30%);
  z-index: 1;
  a {
    margin-bottom: 0;
    p {
      padding: 1rem;
      font-weight: bold;
    }
  }
}

.nav__link--user:hover ~ .userMenu {
  display: block;
}
.userMenu:hover {
  display: block;
}
