.notfound {
  padding-top: 20rem;
  &__secondNoti {
    color: orangered;
    font-size: 10rem;
    letter-spacing: 10px;
  }
  &__homeBtn {
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 0;
    outline: none;
    transition: 0.2s ease-in-out;
    &:hover {
      color: white;
      background-color: dodgerblue;
    }
  }
}
