.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  background-color: black;
  box-shadow: 0 1px 2px deepskyblue;
  transition: 0.3s ease-in-out;
  z-index: 100;
  &__logo {
    margin-right: 2rem;
    width: 5rem;
    &-text {
      font-size: 2rem;
      color: rgb(255, 136, 0);
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  &__links {
    &--pages,
    &--auth {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }
  }
  &__user {
    position: relative;
    margin-right: 2rem;
    &-name {
      margin: 0;
      padding: 0;
    }
    .MuiButton-root {
      color: white;
      border: none;
      outline: 0;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
  &__link {
    position: relative;
    margin-right: 4rem;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    a {
      padding: 0.5rem 1rem;
      display: inline-block;
      width: 100%;
      height: 100%;
      i {
        margin-right: 1rem;
      }
      font-size: 2rem;
    }
    &--selected {
      font-weight: bold;
      color: orange;
    }
    &--capitalize {
      text-transform: capitalize;
    }
    &:last-child {
      margin-right: 0;
    }
    &::after {
      position: absolute;
      top: 100%;
      left: 5%;
      width: 90%;
      height: 0.5px;
      background: orange;
      content: "";
      opacity: 0;
      -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      transform: translateY(-40px);
    }
    &:hover {
      transform: scale(1.1);
      a {
        color: white;
        font-weight: bold;
      }
    }
    &:hover::after,
    &:focus::after {
      height: 2px;
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  &__sub {
    position: absolute;
    top: 100%;
    right: 3%;
    padding: 5px 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    color: black;
    &Cash {
      font-size: 2rem;
      color: red;
    }
  }
}

.userMenu {
  min-width: 20rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  a {
    margin-bottom: 0;
    p {
      margin: 1rem;
      padding: 1rem;
      font-weight: bold;
      &:hover {
        color: rgb(36, 171, 224);
      }
    }
  }
}
