.sidebar {
  position: fixed;
  left: 0;
  width: 20rem;
  height: 100%;
  background: #3c4b64;
  display: flex;
  flex-direction: column;
  transition: 0.3s all ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  &--hide {
    width: 8rem;
    background: #3c4b64;
    display: flex;
    flex-direction: column;
    transition: 0.3s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  }
  &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    &-link {
      width: 100%;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.05);
      transition: 0.4s ease;
      &--active {
        background-color: #f0f8ff;
        color: black !important;
      }
      a {
        padding: 2rem 3rem;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: white;
      }
      &:hover {
        background-color: #321fdb;
      }
    }
    &-icon {
      margin-left: 0 !important;
      margin-right: 3rem !important;
    }
  }
}
