.wrapper {
  margin-left: 20rem;
  flex: 1;
  padding: 2rem;
  transition: 0.3s all ease-in-out;
  &--fullscreen {
    margin-left: 8rem;
    flex: 1;
    padding: 2rem;
    transition: 0.3s all ease-in-out;
  }
}

.layout__main {
  display: flex;
  height: 100%;
}
