.blogs {
  max-width: 50%;
  margin: 0 auto;
  &__blog {
    margin-bottom: 2rem;
    padding: 2rem 2rem;
    background-color: whitesmoke;
    border-radius: 20px;
  }
}

.blog {
  &__content {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__seemore {
    text-align: right;
    color: blue;
  }
}

.blogpost {
  width: 60%;
  padding: 2rem;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 20px;
}
