.user {
  &__container {
    width: 90%;
    margin: auto;
    padding-top: 15rem;
  }
  &__update {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
    &-form {
      width: 40%;
      display: flex;
      flex-direction: column;
    }
  }
  &__infos {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: calc(25% - 20px);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: slategrey;
    color: white;
    &-title {
      font-size: 2rem;
    }
    &-content {
      margin: auto;
      color: black;
      font-size: 2.3rem;
      letter-spacing: 2px;
    }
  }
}
