.user {
  max-width: 50%;
  margin: 3rem auto;
  background-color: whitesmoke;
  border-radius: 20px;
  &__container {
    width: 90%;
    margin: auto;
    margin-top: 15rem;
    background-color: white;
  }
  &__info {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
