.items__container {
  margin: 0 auto;
  padding-top: 12rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 50%;
}

.items__pagination {
  margin-top: 5rem;
}

.MuiPagination-ul {
  display: flex;
  justify-content: center;
  color: black;
  button {
    background-color: white;
    opacity: 1 !important;
  }
  .Mui-selected {
    background-color: #337ab7 !important;
    color: white;
    font-weight: bold;
  }
}

.form {
  &__items {
    width: 100%;
  }
}
