.app {
  text-align: center;
  min-height: 100vh;
}

.footer {
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: inset 0 5px 5px darkgray;
  &__contact {
    font-weight: bold;
    margin-right: 1.5rem;
  }
  &__icon {
    margin-right: 1.3rem;
    > i {
      font-size: 2rem;
    }
  }
}
