.app {
  min-height: 100vh;
  text-align: center;
  background-image: url("https://ak8.picdn.net/shutterstock/videos/34078918/thumb/1.jpg?ip=x480");
}

.redux-toastr {
  .bottom-right {
    bottom: 100px;
    right: 10px;
  }
}

.MuiPagination-ul {
  display: flex;
  justify-content: center;
  color: black;
  button {
    background-color: white;
    opacity: 1 !important;
    &:hover {
      background-color: #337ab7;
    }
  }
  .Mui-selected {
    background-color: #337ab7 !important;
    color: white;
    font-weight: bold;
  }
  .MuiPaginationItem-ellipsis {
    color: white;
  }
}
