.app {
  text-align: center;
  min-height: 100vh;
}

.redux-toastr {
  .bottom-right {
    bottom: 100px;
    right: 10px;
  }
}

.MuiPagination-ul {
  display: flex;
  justify-content: center;
  color: black;
  button {
    background-color: white;
    opacity: 1 !important;
    &:hover {
      background-color: #337ab7;
    }
  }
  .Mui-selected {
    background-color: #337ab7 !important;
    color: white;
    font-weight: bold;
  }
  .MuiPaginationItem-ellipsis {
    color: white;
  }
}
